.post.text .contact {

    font-size: 16px;
    // margin-bottom: -29vh;
    h2, h3 {
        font-family: Lato;
        text-transform: uppercase;
    }

    h2 {
      text-align: center;
      letter-spacing: 12px;
      margin-bottom: 12px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    > div {
        display: flex;
        flex-direction: row;
    }

    div > div {
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
        &:last-of-type {
            margin-right: 0;
        }
    }

    li, p {
        margin: 0 0 1.25rem 0;
    }

}

@media all and (max-width: 767px) {

  .post.text .contact {
      font-size: 12px;
      h2 {
        letter-spacing: 10px;
        margin-bottom: 10px;
      }
  }

}

@media all and (orientation: portrait) {
  .post.text .contact {
    margin-bottom: 0px;
  }
}
