@import 'colors';
@import 'animations';

.header {
    @extend .transition-for-header-opened;
    position: fixed;
    width: 360px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    // background: $gray;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    a {
        font: inherit;
        color: inherit;
        &:hover {
            opacity: 1;
        }
    }

    h1 {
        margin: 0 0 0.33rem 0;
        font-family: Lato;
        text-transform: uppercase;
        font-size: 36px;
        letter-spacing: 0.4rem;
        z-index: 1;
        pointer-events: none;
        span:first-of-type {
            font-size: 24px;
        }
    }

    > div {
        @extend .transition-for-opening;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        transform: translate3d(50px, 0, 0);
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        color: $blue;
        font-size: 11px;
        // display: inline;
        margin: 0.85em 0;
        letter-spacing: 0.1rem;

        a {
            color: #000;
            transition: opacity 0.2s ease;
            &:hover {
                opacity: 0.6;
            }
        }


        // &:after {
        //     content: ' - ';
        //     top: 1em;
        //     color: inherit;
        // }
        // &:last-child:after {
        //     content: '';
        // }
    }


    .logo {
        font-family: Lato;
        position: absolute;
        top: 60px;
        left: 46px;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-size: cover;
        text-indent: -200em;
        z-index: 1;
    }

    .slice {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 145%;

        polygon {
            fill: $gray;
            stroke-width: 0;
        }
    }

    nav {
        z-index: 1;
        margin: 2vh 0 24vh 0;
    }

    .portrait {display: none}


}

.header--closed {
    @extend .transition-for-header-closed;
    width: 135px;
    > div {
        @extend .transition-for-closing;
        pointer-events: none;
    }

}

@media all and (orientation: landscape) and (max-width: 767px) {

    .header {

        width: 232px;

        > div {
            transform: translate3d(25px, 0, 0);
        }

        .logo {
            top: 40px;
            left: 24px;
        }

        h1 {
            font-size: 20px;
        }

        // toggle on its file

    }

    .header--closed {
        width: 85px;
    }

}

@media all and (orientation: portrait) {

    .header {
        height: 33%;
        width: 100%;
        top: 0;
        left: 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .logo {
            top: initial;
            left: initial;
            position: static;
        }

        h1 {
            text-align: center;
        }

        > div {
            align-items: center;
            transform: translate3d(0,35%,0);
            pointer-events: auto;
        }

        .slice {
            box-shadow: 0 -15px 0 $gray;
            top: 0;
            width: 100%;
            height: 120%;
            left: 0;
        }

        .portrait {display: inline}
        .landscape {display: none}

        nav {
            display: flex;
            justify-content: center;
            transform: none;
            margin: auto;
        }

        li {
            display: inline;
            margin: auto;
            &:after {
                content: ' - ';
                top: 1em;
                color: inherit;
            }
            &:last-child:after {
                content: '';
            }
        }
    }

    ///override in case its portrait
    .header--closed {

        width: 100%;

        > div {
            opacity: 1 !important;
        }

    }


}

@media all and (orientation: portrait) and (max-width: 750px) {

    .header {
        height: 30%;

        .logo {
            // top: 30px;
        }

        > div {
            transform: translate3d(0,31%,0);
        }

        h1 {
            font-size: 24px;
        }
        .slice {
            height: 134%;
        }
    }


}

@media all and (orientation: portrait) and (max-width: 320px) {

    .header {
        height: 30%;

        .logo {
            // top: 15px;
            width: 30px;
            height: 30px;
        }

        h1 {
            font-size: 20px;
        }

        nav li {
            font-size: 10px;
        }
        .slice {
            height: 140%;
        }
    }


}
