.post.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    .title {
        display: none;
    }

    > div {
        // width: 33%;
        // margin-left: 130px;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        // margin-top: -5em;

    }

}


@media all and (max-width: 767px) {

  .post.text {
      font-size: 12px;
  }

}

@media all and (orientation: portrait) {


    .post.text > div {
        margin-top: 0;
        margin-left: 0;
    }


}
