
.toggle-btn {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    width: 26px;
    height: 26px;
    bottom: 60px;
    left: 50px;
    border: none;
    background: none;
    overflow: hidden;

    svg {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }

    circle {
        fill: none;
        stroke-width: 1.5;
        stroke: #000;
    }

    line {
        stroke-width: 1.5;
        stroke: #000;
        stroke-linecap: round;
    }

    .arrow, .info {
      transition: opacity 0.25s ease, transform 0.25s ease;
    }

    .arrow {
      transform-origin: center center;
      opacity: 1;
      transform: scaleX(1);
    }

    .info {
      opacity: 0;
      circle {
        fill: #000;
      }
      line {
        stroke-width: 2.2;
      }
    }

}

.toggle-btn--open {
    .arrow {
      opacity: 0;
      transform: scaleX(0.01);
    }
    .info {
      opacity: 1;
    }
}

@media all and (orientation: landscape) and (max-width: 767px) {

  .toggle-btn {
    bottom: 40px;
    left: 25px;
  }

}

@media all and (orientation: portrait) {

    .toggle-btn {
        display: none;
    }

}
